body
{
    background-image: url(backgroundDes2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/*
@font-face
{
    font-family: IndUcs;
    src: local('IndUcs.ttf') format('truetype');
    src: url('IndUcs.woff2') format('woff2'),
        url('IndUcs.woff') format('woff'),
        url('IndUcs.eot') format('eot');
}
@font-face
{
    font-family: StaroUspenskayaCapskUcs;
    src: local('StusSoCKUcs.ttf') format('truetype');
    src: url('StusSoCKUcs.woff2') format('woff2'),
        url('StusSoCKUcs.woff') format('woff'),
        url('StusSoCKUcs.eot') format('eot');
}
StusSoCKUcs
*/

@font-face
{
    font-family: Slavjanic;
    src: local('Slavjanic.ttf') format('truetype');
    src: url('Slavjanic.woff2') format('woff2'),
        url('Slavjanic.woff') format('woff'),
        url('Slavjanic.eot') format('eot');
}

.dateYearNumber
{

    margin-top: 8%;
    margin-right: 7vw;
    vertical-align: baseline;
    text-align: center;
}

.date
{
    font-family: Slavjanic;
    font: 1.7vw Slavjanic;
    color: #403b37;
}

.number
{
    font-family: Slavjanic;
    font: small-caps 2.8vw Slavjanic;
    color: #403b37;
    margin: 3.5vw;
}

.year
{
    font-family: Slavjanic;
    font: 1.7vw Slavjanic;
    color: #403b37;
}

.headline
{
    font-family: Slavjanic;
    font: 4.5vw Slavjanic;
    color: #403b37;
    text-align: center;
}

.hdFirst
{
    letter-spacing: 5.5px;
}

.img
{
    text-align: justify;
    max-width: 10vmin;
}

.hdSecond
{
    letter-spacing: 1.5px;
}

.underHeadLine
{
    font-family: Roboto, sans-serif;
    font: small-caps 2.2vw Roboto;
    color: #403b37;
    text-align: center;
}

.lItem
{
    -webkit-column-count: 3; /* Safari & Chrome */
    -webkit-column-rule: 3px dotted #ccc;
    -webkit-column-fill: balance-all;
    -moz-column-count: 3; /* Firefox */
    -moz-column-rule: 3px dotted #ccc;
    -moz-column-fill: balance-all;
    -ms-column-count: 3; /* Internet Explorer */
    -ms-column-rule: 3px dotted #ccc;
    -ms-column-fill: balance-all;
    -o-column-count: 3; /* Opera */
    -o-column-rule: 3px dotted #ccc;
    -o-column-fill: balance-all;
    column-count: 3; /* W3C */
    column-rule: 3px dotted #ccc;
    column-fill: balance;
    font-family: Roboto, sans-serif;
    font: 1.4vmin Roboto;
    color: #403b37;
    margin-left: 22%;
    margin-right: 21%;
}

article > div > strong
{
    font-family: Roboto, sans-serif;
    font: 2vmin Roboto;
    font-weight: bold;
    text-align: center;
    margin-left: 2vw;
}

article > div > p
{
    text-align: justify;
    text-indent: 1.6vw;
}

.imgIdol
{
    float: left;
}

footer
{
    font-family: Roboto, sans-serif;
    font: 1.4vmin Roboto;
    color: #403b37;
    text-align: right;
    margin-right: 21%;
}
