body
{
    background-image: url(backgroundDes2.png);
    background-size: cover;
}
/*
@font-face
{
    font-family: IndUcs;
    src: local('IndUcs.ttf') format('truetype');
    src: url('IndUcs.woff2') format('woff2'),
        url('IndUcs.woff') format('woff'),
        url('IndUcs.eot') format('eot');
}
@font-face
{
    font-family: StaroUspenskayaCapskUcs;
    src: local('StusSoCKUcs.ttf') format('truetype');
    src: url('StusSoCKUcs.woff2') format('woff2'),
        url('StusSoCKUcs.woff') format('woff'),
        url('StusSoCKUcs.eot') format('eot');
}
StusSoCKUcs
*/

@font-face
{
    font-family: Slavjanic;
    src: local('Slavjanic.ttf') format('truetype');
    src: url('Slavjanic.woff2') format('woff2'),
        url('Slavjanic.woff') format('woff'),
        url('Slavjanic.eot') format('eot');
}

article > div
{
    -webkit-column-count: 3; /* Safari & Chrome */
    -webkit-column-rule: 3px dotted #ccc;
    -moz-column-count: 3; /* Firefox */
    -moz-column-rule: 3px dotted #ccc;
    -ms-column-count: 3; /* Internet Explorer */
    -ms-column-rule: 3px dotted #ccc;
    -o-column-count: 3; /* Opera */
    -o-column-rule: 3px dotted #ccc;
    column-count: 3; /* W3C */
    column-rule: 3px dotted #ccc;
}

/*
@font-face
{
    font-family: Slavjanic;
    src: local('Slavjanic.ttf') format('truetype')
         url('Slavjanic.woff') format('woff');
}

@font-face
{
    font-family: '7733';
    src: local(7733.ttf),
        url('7733.eot') format('embedded-opentype'),
        url('7733.woff') format('woff'),
        url('7733.ttf')  format('truetype'),
        url('7733.svg#svgFontName') format('svg');
}
*/

.dateYearNumber
{
    margin-top: 10%;
}

.date
{
    font-family: Slavjanic;
    font: 18px Slavjanic;
    color: #403b37;
    margin-left: 29%;
}

.number
{
    font-family: Slavjanic;
    font: small-caps 30px Slavjanic;
    vertical-align: text-bottom;
    color: #403b37;
    margin-left: 4.2%;
}

.year
{
    font-family: Slavjanic;
    font: 18px Slavjanic;
    color: #403b37;
    margin-top: 0.7%;
    margin-right: 35%;
    float: right;
}

.headline
{
    font-family: Slavjanic;
    font: 54px Slavjanic;
    color: #403b37;
    margin-left: 27%;
}

.hdFirst
{
    letter-spacing: 5.5px;
}

.hdSecond
{
    letter-spacing: 1.5px;
}

.underHeadLine
{
    font-family: Roboto, sans-serif;
    font: small-caps 22px Roboto;
    color: #403b37;
    margin-left: 29%;
}

.lItem
{
    font-family: Roboto, sans-serif;
    font: 15px Roboto;
    color: #403b37;
    margin-left: 22%;
    margin-right: 21%;
}

article > div > strong
{
    font-family: Roboto, sans-serif;
    font: 17px Roboto;
    font-weight: bold;
    text-align: center;
    margin-left: 12%;
}

article > div > p
{
    text-align: justify;
    text-indent: 30px;
}

footer
{
    font-family: Roboto, sans-serif;
    font: 15px Roboto;
    color: #403b37;
    text-align: right;

    margin-right: 21%;
}
